<% include partials/header %>

    <div class="container white-container">
        <div class="container text-container">
        <h1>Zapraszamy do rejestrowania się na szkolenia w NZOZ OMNI-MED</h1>
        <p>Przejdź dalej, aby zgłosić chęć uczestnictwa w jednym z naszych szkoleń. Dzięki rejestracji będziemy mogli na bieżąco informować o rozpoczęciu kursu lub specjalizacji. Dołączysz do listy osób chętnych i o terminie rozpoczęcia poinformujemy Cię, po uzbieraniu potrzebnej liczby osób, mailowo lub telefonicznie. </p>
        </div>
    </div>
    
    <div class="container white-container">
        <div class="text-container">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th><h3>Zapisz się bez zakładania konta</h3></th>
                        <th><h3>Załóż konto i zarządzaj swoimi zapisami</h3> </th>
                    </tr>
                   
                       
                    
                </thead>
               <tbody>
                    <tr class="success">
                        <th>>>>></th>
                        <th>>>>></th>
                    </tr>
               </tbody>
              
              </table>
        </div>
        
    </div>

<% include partials/footer %>