<% include partials/header %>

    <div class="container white-container">
        <div class="container text-container">
        <h1>Zapraszamy do rejestrowania się na szkolenia w NZOZ OMNI-MED</h1>
        <p>Przejdź dalej, aby zgłosić chęć uczestnictwa w jednym z naszych szkoleń. Dzięki rejestracji będziemy mogli na bieżąco informować o rozpoczęciu kursu lub specjalizacji. Dołączysz do listy osób chętnych i o terminie rozpoczęcia poinformujemy Cię, po uzbieraniu potrzebnej liczby osób, mailowo lub telefonicznie. </p>
        </div>
    </div>
    
    <div class="container white-container">
        <div class="text-container" style="margin:0 auto">
            <table class="table table-stripped">
                <thead>
                    <tr>
                       
                            <th>
                            <h3>Zapisz się bez zakładania konta</h3>
                             <i style="margin:0 auto" class="fas fa-user-ninja large"></i>
                            </th>
                       
                            <th>
                            <h3>Załóż konto i zarządzaj swoimi zapisami</h3> 
                            <i class="fas fa-sign-in-alt large"></i>
                            </th>
                      
                    </tr>
                   
                       
                    
                </thead>
               <tbody>
                    <tr class="">
                        <td>
                            <form>
                            <br>
                            <p>Zostaw podstawowe dane, abyśmy mogli skontaktować się z Tobą, jeśli kurs będzie miał wyznaczony termin:</p>
                            <ul>
                                <li>
                                    <div class="form-input">
                                        <label>Imię: </label>
                                        <input type="text">
                                    </div>
                                </li>
                                <li>
                                     <div class="form-input">
                                        <label>Nazwisko: </label>
                                        <input type="text">
                                    </div>
                                </li>
                                <li>
                                     <div class="form-input">
                                        <label>Nr telefonu: </label>
                                        <input type="text">
                                    </div>
                                </li>
                                <li>
                                     <div class="form-input">
                                        <label>E-mail: </label>
                                        <input type="text">
                                    </div>
                                </li>
                                <li>
                                     <div class="form-input">
                                        <label>Nr PWZ: </label>
                                        <input type="text">
                                    </div>
                                </li>
                            </ul>
                            <div class="btn btn-success">Przejdź do wyboru szkoleń</div>
                            </form>
                        </td>
                        <td>
                            <br>
                            <p>Załóż konto, aby na bieżąco śledzić liczbę uczestników, przewidywany termin rozpoczęcia i zarządzać swoimi zapisami</p>
                            <div class="btn btn-success">Zarejestruj się w naszym systemie</div>
                           
                            <hr>
                         
                            <p>Jeśli posiadasz już konto, zaloguj się i sprawdź co nowego:</p>
                            <form id="form-center">
                                 <div class="form-input">
                                        <label>Login: </label>
                                        <input type="text">
                                       
                                    </div>
                                    <div class="form-input">
                                        <label>Hasło: </label>
                                        <input type="text">
                                    </div>
                                     <br>
                                <div class="btn btn-primary">Zaloguj się</div>
                               
                            </form>
                            
                        </td>
                    </tr>
               </tbody>
              
              </table>
        </div>
        
    </div>

<% include partials/footer %>